.pokemon-card-container {
    display: flex;
    flex-flow: row wrap;
}

.pokemon-card {
    margin: 2em;
    flex: 1 0 calc(11%);
    min-width: 75px;
    max-width: 200px;
    height: 70px;

    &:hover {
        cursor: pointer;
        background-color: lightsteelblue;
    }
}

.pokemon-name {
    text-transform: capitalize;
}

.scoll-to-load-text {
    width: 100%;
    height: 120px;
    text-align: center;
    padding: 2em;
    text-transform: uppercase;
}

.arrow-downward {
    vertical-align: middle;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-14px);
        transform: translateY(-14px);
    }
    60% {
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-14px);
        transform: translateY(-14px);
    }
    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-14px);
        -ms-transform: translateY(-14px);
        -webkit-transform: translateY(-14px);
        transform: translateY(-14px);
    }
    60% {
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
