<div *ngIf="isLoading" class="detail-loading-container">
    <main class="animated-background ">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
    </main>
</div>