<!-- <div class="progress-bar-container">
  <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
</div> -->
<div *ngIf="isLoading; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <app-detail-loading [isLoading]="isLoading"></app-detail-loading>
</ng-template>

<ng-template #elseBlock>
  <h3 mat-dialog-title>#{{ pokemonDetail.id }} <span class="pokemon-name">{{ pokemonDetail.name }}</span>
  </h3>
  <mat-dialog-content>
    <main>
      <img mat-card-image class="pokemon-sprite" [src]="pokemonDetail.sprites.front_default" alt="Sprite of Pokemon">
      <p> </p>
    </main>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="primary">Close</button>
  </mat-dialog-actions>
</ng-template>